body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.coluna {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin-top: 0;
    text-align: center;
}

.botao-grupo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    flex: 1;
    margin: 5px;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
#senha,
#idoso,
#preferencial,
#concluido,
#atendimento,
#atendimento2,
#atendimento3 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#senha li,
#idoso li,
#preferencial li,
#concluido li,
#atendimento li,
#atendimento2 li,
#atendimento3 li {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #333;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#senha li:before,
#idoso li:before,
#preferencial li:before,
#concluido li:before,
#atendimento li:before,
#atendimento2 li:before,
#atendimento3 li:before {
    content: "Senha ";
    font-weight: bold;
    color: #386391;
}
